{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">{neos:backend.translate(id: 'tagmanager.groups.editGroup', value: 'Edit group "{0}"', arguments: {0: group.name})}</f:section>

<f:section name="Content">
    <f:render partial="Module/FieldValidationResults" />

    <f:form action="update" object="{group}" objectName="group">
        <ol>
            <li>
                <label for="name">{neos:backend.translate(id: 'tagmanager.groups.groupName', value: 'Group name')}</label>
                <f:form.textfield property="name" id="name" />
            </li>

            <li>
                <label for="link">{neos:backend.translate(id: 'tagmanager.groups.link', value: 'Group')}</label>
                <f:form.textfield property="link" id="link" />
            </li>

            <li>
                <f:form.submit value="{neos:backend.translate(id: 'applyChanges', value: 'Apply changes', package: 'TYPO3.Neos')}" class="neos-button neos-button-primary" />
            </li>
        </ol>
    </f:form>
</f:section>
