{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">{neos:backend.translate(id: 'tagmanager.groups.editGroup', value: 'Edit group "{0}"', arguments: {0: group.name})}</f:section>

<f:section name="Content">
    <p class="breadcrumps">
      <f:link.action action="index">Tagmanager</f:link.action> • <f:link.action action="listTags" arguments="{group: group}">{group.name}</f:link.action>
    </p>
    <f:render partial="Module/FieldValidationResults" />

    <f:form action="update" object="{group}" objectName="group">
        <ol>
            <li>
                <label for="name">{neos:backend.translate(id: 'tagmanager.groups.groupName', value: 'Group name')}</label>
                <f:form.textfield property="name" id="name" />
            </li>

            <li>
                <f:form.submit value="{neos:backend.translate(id: 'applyChanges', value: 'Apply changes', package: 'Neos.Neos')}" class="neos-button neos-button-primary" />
            </li>
        </ol>
    </f:form>
</f:section>
