{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">{neos:backend.translate(id: 'tagmanager.tags.editTag', value: 'Edit tag "{0}"', arguments: {0: tag.name})}</f:section>

<f:section name="Content">
    <f:render partial="Module/FieldValidationResults" />

    <f:form action="updateTag" object="{tag}" objectName="tag">
        <ol>
            <li>
                <label for="name">{neos:backend.translate(id: 'tagmanager.tags.tagName', value: 'Tag name')}</label>
                <f:form.textfield property="name" id="name" />
            </li>

            <li>
                <f:form.submit value="{neos:backend.translate(id: 'applyChanges', value: 'Apply changes', package: 'Neos.Neos')}" class="neos-button neos-button-primary" />
            </li>
        </ol>
    </f:form>
</f:section>
