{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">{neos:backend.translate(id: 'tagmanager.groups.showGroup', value: 'Show group "{0}"', arguments: {0: group.name})}</f:section>

<f:section name="Content">
    <table>
        <tr>
            <th>{neos:backend.translate(id: 'tagmanager.groups.groupName', value: 'Group name')}</th>
            <td>{group.name}</td>
        </tr>
    </table>
    <f:link.action action="index" class="neos-button neos-button-primary">{neos:backend.translate(id: 'back', value: 'Back', package: 'Neos.Neos')}</f:link.action>
</f:section>
