{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">{neos:backend.translate(id: 'tagmanager.tags.showTag', value: 'Show tag "{0}"', arguments: {0: tag.name})}</f:section>

<f:section name="Content">
    <table>
        <tr>
            <th>{neos:backend.translate(id: 'tagmanager.tags.tagName', value: 'Tag name')}</th>
            <td>{tag.name}</td>
        </tr>
        <tr>
            <th>{neos:backend.translate(id: 'tagmanager.tags.tagGroup', value: 'Tag group')}</th>
            <td>{tag.groupname.name}</td>
        </tr>
    </table>
    <f:link.action action="index" class="neos-button neos-button-primary">{neos:backend.translate(id: 'back', value: 'Back', package: 'Neos.Neos')}</f:link.action>
</f:section>
